.community-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}
.community-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self:center;
  gap: 10px;
}
.community-title{
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  color: #4d4d4d
}
.community-quote{
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: #717171;
  text-align: center;
}
.community-logo-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.community-logo-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 180px;
}
.community-card-title{
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  color: #4d4d4d;
  text-align: center;
}
.community-card-quote{
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  color: #717171;
  text-align: center;
}
.community-logo-card img{
  width: 100px;
}
.card-text-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 992px) {
  .community-logo-section {
    flex-direction: column;
    gap: 40px;
  }
  
  .community-logo-card {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .community-container {
    padding: 30px 20px;
  }
  
  .community-card-title {
    font-size: 18px;
  }
  
  .community-card-quote {
    font-size: 12px;
  }
  .community-title{
    font-size: 18px;
    text-align: center;
  }
  .community-quote{
    font-size: 14px;
    text-align: center;
  }
  .community-logo-card{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}