.pixel-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f5f7fa;
}
.pixel-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px
}
.pixel-first-text{
    font-weight: 600;
    font-size: 50px;
    color: #4d4d4d;
}
.pixel-second-text{
    font-weight: normal;
    font-size: 20px;
    color: #717171;
}
button{
    background-color: #4CAF4F;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}
.pixel-container img{
    width: 450px;
    height: 450px;
}