.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f5f7fa;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px
}
.first-text{
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}
.second-text{
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    color: #4CAF4F;
}
button{
    background-color: #4CAF4F;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}