.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}
button{
    background-color: #4CAF4F;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}