.clients-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}
.clients-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.clients-title{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    color: #4d4d4d
}
.clients-quote{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    color: #717171;
}
.clients-logo-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}